;;   Copyright 2014 Pellucid Analytics
;;
;;   Licensed under the Apache License, Version 2.0 (the "License");
;;   you may not use this file except in compliance with the License.
;;   You may obtain a copy of the License at
;;
;;       http://www.apache.org/licenses/LICENSE-2.0
;;
;;   Unless required by applicable law or agreed to in writing, software
;;   distributed under the License is distributed on an "AS IS" BASIS,
;;   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;;   See the License for the specific language governing permissions and
;;   limitations under the License.


[

{:db/id #db/id[:db.part/user -1000000]
 :linklist/first #db/id[:db.part/user -1000001]}

{:db/id #db/id[:db.part/user -1000001]
 :linknode/list #db/id[:db.part/user -1000000]
 :linknode/next #db/id[:db.part/user -1000002]
 :linknode/elem #db/id[:db.part/user -1000011]}

{:db/id #db/id[:db.part/user -1000002]
 :linknode/list #db/id[:db.part/user -1000000]
 :linknode/next #db/id[:db.part/user -1000003]
 :linknode/elem #db/id[:db.part/user -1000012]}

{:db/id #db/id[:db.part/user -1000003]
 :linknode/list #db/id[:db.part/user -1000000]
 :linknode/next #db/id[:db.part/user -1000004]
 :linknode/elem #db/id[:db.part/user -1000013]}

{:db/id #db/id[:db.part/user -1000004]
 :linknode/list #db/id[:db.part/user -1000000]
 :linknode/next #db/id[:db.part/user -1000005]
 :linknode/elem #db/id[:db.part/user -1000014]}

{:db/id #db/id[:db.part/user -1000005]
 :linknode/list #db/id[:db.part/user -1000000]
 :linknode/next :linknode/empty
 :linknode/elem #db/id[:db.part/user -1000015]}

{:db/id #db/id[:db.part/user -1000011]
 :elem/data "A"}

{:db/id #db/id[:db.part/user -1000012]
 :elem/data "B"}

{:db/id #db/id[:db.part/user -1000013]
 :elem/data "C"}

{:db/id #db/id[:db.part/user -1000014]
 :elem/data "D"}

{:db/id #db/id[:db.part/user -1000015]
 :elem/data "E"}

]
